.card{
    text-align: center;
    width: 20rem;
    margin: 0 15px;
    /* border: 2px solid purple; */
    background-color: #e2e2f0;
}
.contactform{
    display: flex;
    justify-content: center;
    /* border: 2px solid red; */
}
.contactform .fas,.contactform .far{
    color: #0d6efd;
}
h2{
    text-align: center;
}
.contact{
    width: 30rem;
    margin: 0 15px;
    /* border: 2px solid steelblue; */
}
.form .btn{
    
    display: block;
    margin: auto;
}
span{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media only screen and (max-width:890px) {
    .contactform{
        flex-direction: column;
    }
    .card{
        width: 18rem;
        margin: auto;
    }
    .contact{
        margin: auto;
        width: 90%;
    }
}
@media only screen and (max-width:350px){
    .card{
        width: 15rem;
        margin: auto;
    }
}