/* testimonial  */
.review{
	margin: 30px 0;
}
.review .testimonial,.review .testimonial .card .mybox{
    display: flex;
    flex-direction: row;
}
.review .heading,.contact .heading{
    text-align: center;
    margin: 20px 0;
}
.review .heading span,.contact .heading span{
    font-size: 20px;
    color: blue;
}
.review .testimonial{
    justify-content: space-evenly;
}
.review .testimonial .card{
    padding: 15px 5px 0 15px;
    border: 2px solid rgb(219, 219, 233);
    width: 23rem;
}
.review .testimonial .card:hover{
    border: none;
    box-shadow: 0 1px 6px black,0 1px 4px rgb(219, 219, 233);
    transition: 0.3s ease-in-out;
    transform: scale(1.05);
}
.review .testimonial .card .mybox img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 6px;
}
.review .testimonial .card .mybox .title{
    height: 35px;
    position: relative;
    top: 35%;
    left: 5%;
}
.review .testimonial .card .mybox .title h5{
    line-height: 0px;
} 

/* responsive  */
@media only screen and (max-width: 1285px){
    .review .testimonial .card{
        width: 20rem;
    }
}
@media only screen and (max-width: 1080px){
    .review .testimonial{
        flex-direction: column;
    }
    .review .testimonial .card .mybox .title{
        position: absolute;
    top: 14%;
    left: 40%;
    }
    .review .testimonial .card{
        margin: 20px auto;
    }
    .review .heading span{
        font-size: 15px;
    }
}
@media only screen and (max-width: 360px){
    .review .testimonial .card{
        margin: 20px auto;
    }
    .review .heading span{
        font-size: 15px;
    }
    .review .testimonial .card{
        width: 17rem;
    }
    .review .testimonial .card .mybox .title h5{
        font-size: 18px;
    }
    .review .testimonial .card .mybox .title span{
        font-size: 15px;
    }
}
@media only screen and (max-width: 286px){
    .review .testimonial .card .mybox .title{
        position: absolute;
    top: 10%;
    left: 40%;
    }
    .review .testimonial .card .mybox img{
        width: 60px;
        height: 60px;
    }
    .review .testimonial .card{
        margin: 20px auto;
    }
    .review .heading span{
        font-size: 15px;
    }
    .review .testimonial .card{
        width: 15rem;
    }
    .review .testimonial .card .mybox .title h5{
        font-size: 16px;
    }
    .review .testimonial .card .mybox .title span{
        font-size: 14px;
    }
}



/* contact form  */

.contact .contactform .card{
    text-align: center;
    width: 20rem;
    margin: 0 15px;
    background-color: #e2e2f0;
}
.contact .contactform{
    margin: 30px 0;
    background: #fff;
    display: flex;
    justify-content: center;
}
.contact .contactform .fas,.contactform .far{
    color: #0d6efd;
}
.contact .contactform h2{
    text-align: center;
}
.contact .contactform .contact{
    width: 30rem;
    margin: 0 15px;
}
.contact .contactform .form .btn{
    
    display: block;
    margin: auto;
}
.contact .contactform span{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media only screen and (max-width:890px) {
    .contact .contactform{
        flex-direction: column;
    }
    .contact .contactform .card{
        width: 18rem;
        margin: auto;
    }
    .contact .contactform .contact{
        margin: auto;
        width: 90%;
    }
}
@media only screen and (max-width:350px){
    .contact .contactform .card{
        width: 15rem;
        margin: auto;
    }
}
