
/* services section */

.container {
    max-width: 1320px;
  }
  section {
    overflow: hidden;
  }
  
  .section-bg {
    background: #fff;
  }
  
  .section-header h3 {
    font-size: 36px;
    color: #413e66;
    text-align: center;
    font-weight: 700;
    position: relative;
    font-family: "Montserrat", sans-serif;
  }
  
  .section-header p {
    text-align: center;
    margin: auto;
    font-size: 15px;
    padding-bottom: 60px;
    color: #1859b4;
    width: 50%;
  }
  
  @media (max-width: 767px) {
    .section-header p {
      width: 100%;
    }
  }
  
  #services {
    padding: 60px 0 40px 0;
  }
  
  #services .box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 10px 40px 10px;
    background: #fff;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    transition: all 0.3s ease-in-out;
    text-align: center;
  }
  
  #services .box:hover {
    transform: scale(1.1);
  }
  
  #services .icon {
    margin: 0 auto 15px auto;
    padding-top: 12px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color:#186adc;
    background: linear-gradient(to right,var(#1859b4) 0%,var(#0467f1) 100%);
  }
  
  #services .icon .service-icon {
    font-size: 36px;
    line-height: 1;
  }
  
  #services .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
  }
  
  #services .title a {
    color: #111;
  }
  
  #services .box:hover .title a {
    color: #186adc;;
  }
  #services .box:hover .title a:hover {
    text-decoration: none;
  }
  #services .description {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 0;
    text-align: left;
  }
  /* button styling */

.button-container{
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

  @-webkit-keyframes hvr-ripple-out {
    100% {
      top: -12px;
      right: -12px;
      bottom: -12px;
      left: -12px;
        filter: alpha(opacity=0);
      opacity: 0;
    }
  }
  
  @keyframes hvr-ripple-out {
    100% {
      top: -12px;
      right: -12px;
      bottom: -12px;
      left: -12px;
        filter: alpha(opacity=0);
      opacity: 0;
    }
  }
  
  .hvr-ripple-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
  }
  
  .hvr-ripple-out:before {
    content: '';
    position: absolute;
    border: #1859b4 solid 3px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    border-radius: 2px;
  }
  
  .hvr-ripple-out:hover:before,
  .hvr-ripple-out:focus:before,
   .hvr-ripple-out:active:before {
    -webkit-animation-name: hvr-ripple-out;
    animation-name: hvr-ripple-out;
  }
  
  .btn {
    height: 50px;
    margin-top: 30px;
    width: 200px;
    text-align: center;
    background-color:#1859b4;
    border-radius: 2px;
    border: none;
    color: #fff;
    text-decoration: none;
    outline: 0;
  }


  /* why to choose us */

  .reason{
      width: auto;
      height:fit-content;
      background-color: lavender;
      padding-top: 10px;
      display:flow-root;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {}
  a,
  a:hover,
  a:focus,
  a:active {
      text-decoration: none;
      outline: none;
  }
  
  a,
  a:active,
  a:focus {
      color: #333;
      text-decoration: none;
      transition-timing-function: ease-in-out;
      -ms-transition-timing-function: ease-in-out;
      -moz-transition-timing-function: ease-in-out;
      -webkit-transition-timing-function: ease-in-out;
      -o-transition-timing-function: ease-in-out;
      transition-duration: .2s;
      -ms-transition-duration: .2s;
      -moz-transition-duration: .2s;
      -webkit-transition-duration: .2s;
      -o-transition-duration: .2s;
  }
  
  ul {
      margin: 0;
      padding: 0;
      list-style: none;
  }
  img {
max-width: 100%;
height: auto;
}
a, a:hover {
display: inline-block;
text-decoration: none;
color: inherit;
}

.section-head {
margin-bottom: 60px;
margin-top: 60px;

}
.section-head h4 {
position: relative;
padding:0;
color:#111;
line-height: 1;
letter-spacing:0.3px;
font-size: 34px;
font-weight: 700;  
text-align:center;
text-transform:none;
margin-bottom:30px;
}



.section-head p{
color:#1859b4;
font-size:16px;
line-height:28px;
text-align:center;  
}


.item {
background: #fff;
text-align: center;
padding: 30px 25px;
-webkit-box-shadow:0 0px 25px rgba(0, 0, 0, 0.07);
box-shadow:0 0px 25px rgba(0, 0, 0, 0.07);
border-radius: 20px;
border:5px solid rgba(0, 0, 0, 0.07);
margin-bottom: 30px;
-webkit-transition: all .5s ease 0;
transition: all .5s ease 0;
transition: all 0.5s ease 0s;
}
.item:hover{
background:#0467f1;
box-shadow:0 8px 20px 0px rgba(0, 0, 0, 0.2);
-webkit-transition: all .5s ease 0;
transition: all .5s ease 0;
transition: all 0.5s ease 0s;
}
.item:hover .item, .item:hover span.icon{
background:#fff;
border-radius:10px;
-webkit-transition: all .5s ease 0;
transition: all .5s ease 0;
transition: all 0.5s ease 0s;
}
.item:hover h6, .item:hover p{
color:#fff;
-webkit-transition: all .5s ease 0;
transition: all .5s ease 0;
transition: all 0.5s ease 0s;
}
.item .icon {
font-size: 40px;
margin-bottom:25px;
color:#0467f1;   
width: 90px;
height: 90px;
line-height: 96px;
border-radius: 50px;
}
.item .feature_box_col_one{
    background:rgba(0, 147, 38, 0.15);
color:#0467f1;
}
.item .feature_box_col_two{
    background:rgba(0, 147, 38, 0.15);
color:#0467f1;
}
.item .feature_box_col_three{
background:rgba(0, 147, 38, 0.15);
color:#0467f1;
}
.item .feature_box_col_four{
    background:rgba(0, 147, 38, 0.15);
color:#0467f1;
}
.item .feature_box_col_five{
    background:rgba(0, 147, 38, 0.15);
color:#0467f1;
}
.item .feature_box_col_six{
    background:rgba(0, 147, 38, 0.15);
color:#0467f1;
}
.item p{
font-size:15px;
line-height:26px;
}
.item h6 {
margin-bottom:20px;
color:#2f2f2f;
}


